$fuente_pricipal: 'Montserrat',
sans-serif;
// Colores
$verde: #4CB8B3;
$rosa :#F53756;
$amarillo:#FEF46D;
$morado: #752f97;
$negro: #000000;
$blanco: #FFFF;
//Tama;o de pantallas
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;